*{
    text-align: center;
}

body{
    background-color: #012A36;
    color:white;
    align-items: center;
    justify-content: center;
    
}


#randomMeal{
    background-color: #D8DBE2;
    border-radius: 75px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px; /* Width of the button */
    height: 50px;
    text-transform: uppercase;
    text-decoration-color: white;
}
#randomMeal:hover{
    background-color: darkgreen;
}
#categories{
    background-color: #D8DBE2;
    border-radius: 75px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px; /* Width of the button */
    height: 50px;
    text-transform: uppercase;
    text-decoration-color: white;
}
#categories:hover{
    background-color: darkgreen;
}

#meal-container > div{
    text-align: center;
    justify-content: center;

}

#meal-container > div > #instructions{
    width: 500px; /* Set the width of the cube */
    height: 300px; /* Set the height of the cube to be equal */
    display: block;
    overflow: auto;
    margin-left: 675px;
}

.login-container {
    width: 100%;
    max-width: 400px;
    align-items: center;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.form-group input:focus {
    border-color: #4a90e2;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #4a90e2;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #357ab7;
}



